{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cereza Pastelería</title>
    <link href="{% static 'MENU/css/styles.css' %}" rel="stylesheet" />
</head>
<body display="flex", flex-direction="column">
    {% include 'MENU/navbar.html' %}
    {% block TITULO %}
        <div class="container">
            
        </div>
    {% endblock TITULO %}

    {% block CONTENIDO %}
       
    {% endblock CONTENIDO %}

        
</body>
<footer>{% include 'MENU/foother.html' %}</footer>
</html>