{% extends 'MENU/base.html' %}

{% block CONTENIDO %}
    {% block INDEX_TITULO %}
        
    {% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}
        <div class="container">
                
            <div class="col-3  "><img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAqKADKPxmoiVid67DdZDin975621g6OX49_lWaJeVI9JXBz-VSYGP3_LgRb0MMHHdWik&usqp=CAU" alt="Principal" width="85" height="85" style="position: absolute; top: 0; left: 0; right: 1; bottom: 0"></div>
            <div class="col-lg-11" text-center>
                <h1 style="color: lightcoral">¡Bienvenido a nuestra pastelería de ensueño!</h1>

                <p>En Cereza, nos enorgullece endulzar tus días con los más exquisitos manjares. Nos especializamos en la creación de deliciosos pasteles, tartas, galletas, cupcakes y otros postres irresistibles. Nuestra pasión por la repostería se refleja en cada bocado, y nos esforzamos por ofrecerte una experiencia culinaria única.</p>
                
                <p>Nuestro equipo de talentosos y dedicados pasteleros trabaja con ingredientes de la más alta calidad para garantizar que cada creación sea una obra maestra en sí misma. Cada pastel es elaborado con amor, cuidado y atención al detalle, utilizando recetas tradicionales y técnicas artesanales.</p>
                
                <p>En nuestro acogedor ambiente, te invitamos a explorar nuestra amplia variedad de sabores y diseños. Desde los clásicos y atemporales hasta los más innovadores, siempre encontrarás algo que se adapte a tus gustos y ocasiones especiales. Además, ofrecemos opciones para diferentes preferencias dietéticas, como pasteles sin gluten, sin azúcar agregada y veganos.</p>
                
                <p>Ya sea que estés celebrando un cumpleaños, un aniversario, una boda u otro evento especial, estamos aquí para hacer tus sueños dulces realidad. Nuestro equipo de servicio al cliente amable y atento te guiará en la elección del postre perfecto y te ayudará a personalizarlo de acuerdo a tus deseos.</p>
                
                <p>No solo nos preocupamos por la calidad de nuestros productos, sino también por brindarte una experiencia excepcional. Nos esforzamos por crear un ambiente cálido y acogedor donde puedas disfrutar de tus delicias con amigos y familiares. También ofrecemos servicios de entrega y pedidos personalizados para que puedas disfrutar de nuestros productos donde quiera que estés.</p>
                
                <p>En Cereza, cada día es una oportunidad para deleitar tus sentidos con los sabores más exquisitos y deleitarte con la belleza de nuestros dulces. Te invitamos a sumergirte en nuestro mundo de creaciones azucaradas y descubrir el placer de una pastelería única en su clase.</p>
                
                <p>¡Gracias por elegirnos y permitirnos endulzar tu vida!</p>
            </div>
        </div>
    {% endblock INDEX_CONTENIDO %}

{% endblock CONTENIDO %}

