{% extends 'MENU/index.html' %}

{% block INDEX_TITULO %}
<div class="container">
    <h1>Nuestros Productos</h1>
</div>    
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}

<div class="container">
    {% for producto in productos %}
        <h2 style="background-color: lightcoral; font-weight: bold;">{{ producto.nombre }}, {{ producto.sabor }}</h2>
        <p style="font-size: x-large; font-weight: bold; color: white;">{{ producto.descripcion }}</p>
        <p style="font-size: x-large; font-weight: bold; color: white;">$ {{ producto.precio }}</p>
    {% endfor %}
</div>
<a href="{% url 'producto:nuevoproducto' %}" style="font-size: x-large;" >Crear nuevo producto</a>

{% endblock INDEX_CONTENIDO %}   
