{% extends 'MENU/index.html' %}

    {% block INDEX_TITULO %}
        <div class="container">
            <h1>Ventas</h1>
        </div>    
    {% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}

        <div class="container">
            {% for venta in ventas %}
                <h2>{{ venta.cliente }} compró {{ venta.carrito.nombre }} por $ {{ venta.carrito.precio }}</h2>
            {% endfor %}
        </div>
        <a href="{% url 'venta:nuevaventa' %}">Registrar nueva venta</a>
    
    {% endblock INDEX_CONTENIDO %}   
