{% extends 'MENU/index.html' %}

    {% block INDEX_TITULO %}
        <div class="container">
            <h1>Clientes</h1>
        </div>    
    {% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}

        <div class="container">
            {% for cliente in clientes %}
                <h2>{{ cliente.nombre }}, {{ cliente.apellido }}</h2>
                <p>{{ cliente.nacimiento }}</p>
                <p>{{ cliente.ciudad_id }}</p>
                <p>{{ cliente.domicilio }}</p>
                <p>{{ cliente.contacto }}</p>
            {% endfor %}
        </div>
        <a href="{% url 'cliente:nuevocliente' %}">Crear nuevo cliente</a>
    
    {% endblock INDEX_CONTENIDO %}   
