{% extends 'MENU/index.html' %}

    {% block INDEX_TITULO %}
        <div class="container">
            <h1>Clientes</h1>
        </div>    
    {% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}

        <div class="container">
            {% for cliente in clientes %}
                <h2 style="background-color: lightcoral; font-weight: bold;">{{ cliente.nombre }}, {{ cliente.apellido }}</h2>
                <p style="font-size: x-large; font-weight: bold; color: white;">Nacimiento: {{ cliente.nacimiento }}</p>
                <p style="font-size: x-large; font-weight: bold; color: white;">Ciudad: {{ cliente.ciudad_id }}</p>
                <p style="font-size: x-large; font-weight: bold; color: white;">Domicilio: {{ cliente.domicilio }}</p>
                <p style="font-size: x-large; font-weight: bold; color: white;">Contacto: {{ cliente.contacto }}</p>
            {% endfor %}
        </div>
        <a href="{% url 'cliente:nuevocliente' %}"  style="font-size: x-large;">Crear nuevo cliente</a>
    
    {% endblock INDEX_CONTENIDO %}   
